<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Izin dasar untuk mendeteksi status Shizuku -->
    <uses-permission android:name="dev.rikka.shizuku.permission.RECEIVE_SERVER_STARTED" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="Nebula Tools"
        android:theme="@style/Theme.NebulaTools">
        
        <!-- Mendaftarkan halaman utama kita -->
        <activity
            android:name="id.nebula.tools.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Provider agar Shizuku bisa mengenali aplikasi kita -->
        <provider
            android:name="dev.rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>
</manifest>
